@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
  color: #333; /* Cor do texto */
}

h1 {
  font-size: 2em; /* Tamanho do texto para h1 */
}

h2 {
  font-size: 1.5em; /* Tamanho do texto para h2 */
}

h3 {
  font-size: 1.17em; /* Tamanho do texto para h3 */
}

h4 {
  font-size: 1em; /* Tamanho do texto para h4 */
}

h5 {
  font-size: 0.83em; /* Tamanho do texto para h5 */
}

h6 {
  font-size: 0.67em; /* Tamanho do texto para h6 */
}
